<div id="logo">
    <img src="../../../assets/images/ímpetos_motos-removebg-preview.png" />
</div>
<hr class="bg-light">
<h2 class="text-center" style="color:white;">
    Nossas Motos
</h2>
<br>
<h5 class="text-center" style="color:white;">Há 15 anos na estrada com mais de 120 motos de todas as marcas, estilos e modelos, 0KM ou semi-novas.</h5>
<br>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/Biz Rosa 2011.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/honda-cb500.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/NXR-150-Bros.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/esporte-motos-ducati-hypermotard-20121023-001-original.jpeg" class="d-block w-100 img-fluid" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  <hr>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="../../../assets/images/NH 190_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NH 190</h5>
          <p class="card-text"> NH190 é composto por faróis ,luzes de posição ,lanterna traseira e luzes de direção totalmente em LED. Sendo a única entre as motocicletas on-off até 300 cc com essa tecnologia . Painel 100% digital com design moderno .</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/images/ninja h2r.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ninja H2R</h5>
          <p class="card-text">Ninja H2R é impulsionada por um motor com potência de mais de 300 cv e o ponto chave para alcançar este rendimento incrível concentra-se no supercharger do motor - cuja hélice tem capacidade de bombeamento de mais de 200 litros por segundo.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/images/tracer 900.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tracer 900 GT</h5>
          <p class="card-text">A Yamaha Tracer 900 GT oferece designer robusto que atrai olhares por onde passa. Aliado a isso, o motor de 3 cilindros é capaz de gerar um torque de 8,92 kgf.m. O modelo pesa 215 quilos, que dividido pelos 115 cv do motor, gera ótima relação peso e potência de 1,86 quilo por cv.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/images/R-1250-GS-Adv.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">R 1250 GS Adventure</h5>
          <p class="card-text">Especificações da motocicleta
            Ter uma BMW R 1250 GS significa contar com uma motocicleta de 8 válvulas, motor boxer bicilíndrico e uma potência máxima de 136 cv (100 kW) à 7.750 rpm. A moto tem 1.254 cilindradas, injeção eletrônica e taxa de compressão de 12,5: 1.</p>
        </div>
      </div>
    </div>
  </div>
  

  


 



