<div class="container">
    <footer class="row row-cols-5 py-5 my-5 border-top">
      <div class="col">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <p class="text-muted">2022 © Ímpetos Motos</p>
      </div>
  
      <div class="col">
        <h5 style="color:white">Ímpetos Motos</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Avenida dos imigrantes,1988</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Jardim Europa</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Fone: 3522-9873</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Whatsapp: 15 99124-5372</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Insta: @impetosmultimarcasi </a></li>
        </ul>
      </div>
  
      <div class="col">
          <div class="d-flex flex-column">
            <img src="assets/images/ímpetos_motos-removebg-preview.png">
          </div>
      </div>
  
      <div class="col">
        <h5 style="color:white">Atendimento</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">On-line: 24hs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Seg-Sexta: 8h00 - 19h00</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sáb: 9h30 - 13h</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Feriado: Consulte-nos</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>
    </footer>
  </div>